/* HorizontalScrollView.css */

.horizontal-scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 8px 0;
  background-color: rgb(255, 255, 255);
}

.horizontal-scroll-view {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 40px; /* Adjusts spacing between items */
  scroll-behavior: smooth;
}

.scroll-item {
  color: black;
  background-color: white;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 25px;
  height: 22px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap; /* Ensures text doesn't wrap */
  flex-shrink: 0; /* Prevents items from shrinking */
}

.scroll-item.selected {
  background-color: rgb(11, 76, 45);
  color: white;
}
