.matches-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .horizontal-scrollview {
    width: 95%; /* Adjust width as needed */
    margin: 0 0;
  }
  
  .matches-container {
    display: flex;
    justify-content: center;
    width: 100%; /* Adjust width as needed */
    margin: 0 auto;
  }
  
  .matches {
    width: 100%;
  }
  
  