.match-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  transition: box-shadow 0.3s;
  /* display: flex;  */
  /* justify-content: space-between; */
  /* align-items: flex-start;  */
}

.match-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.series-info {
  font-weight: bold;
  
}

.team {
  display: flex;
  align-items: center; 
}

.flag {
  width: 30px;
  height: 20px;
  margin-right: 5px;
}

.team-name {
  font-size: 1.2em;
}

.stadium-info {
  font-style: italic;
  margin-bottom: 5px;
  
   
  
}

.match-time {
  color: #777;
  /* text-align: right;
  margin-left: auto; */
  
}
.match-row1{
  display:  flex;
  justify-content: space-between;
}

.match-row3{
  display:  flex;
  justify-content: space-between;
}

