/* ScheduleCard.css */

.match-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.match-info {
  display: flex;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; /* Space between flags and other content */
}

.team .flag {
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
}

.match-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto; /* Pushes the match details to the right */
}

.match-date, .match-location {
  text-align: right;
}
