
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   .horizontal-scrollview {
    width: 100%; /* Adjust width as needed */
    margin: 0 0;
  }
  .main-wrapper{
    display: flex;
    flex-wrap: wrap;
  }
  .main-content{
    width: 60%;
  }
  .latest-content{
    width: 40%;
  }
  