.sports_container {
    width:auto;
    display: flex;
    margin: 20px;
   
  }
  
  .horizontalscrollview,
  .gender,
  .section_bar,
  .latest_news_area,
  .matches_container,
  .squad {
   
  }
  .gender{
    margin-top: 40px;
  }

  .horizontalscrollview{
    width: 100%;
    margin: auto;
  }

  .latest_news_area{
    margin: 20px;
    padding: 20px;
    max-width: 25%;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #ebebeb;
  }

  
  .matches_container {
    max-height: min-content;
   
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #ebebeb;
  }
  .squad{
    padding: 20px;
    width: 95%;
    display: flex;
    flex-direction: column; 
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #ebebeb;
  }
  
  .matches_card_view {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between match cards */
  }
  
  .squad_container {
    display: flex;
    flex-direction: column;
  }
  
  .match_category_title {
    cursor: pointer;
  }
  
  .players_data {
    display: flex;
    flex-direction: column;
  }
  
  .player_data { 
  }
  